body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
h1 {
  font-size: 20px;
  color: #769fcd;
  font-weight: 400;
}
li {
  margin: 10px 15px;
  list-style: none;
  font-size: 16px;
  color: #769fcd;
}

footer {
  text-align: center;
  font-size: 14px;
}

.time {
  font-size: 18px;
  color: #769fcd;
  line-height: 4px;
}

.col-2 {
  border: 1px solid #f7fbfc;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.temp {
  font-size: 32px;
  color: #769fcd;
  margin: 0;
}
.celcius {
  font-size: 12px;
  padding-left: 0 auto;
  padding-right: 5px;
  position: relative;
  color: #769fcd;
  top: -13px;
  margin-left: -8px;
}

.narrative {
  font-size: 22px;
  font-weight: 400;
  color: #769fcd;
}

.measurements {
  padding-left: 10px;
}
.weather-app {
  background-color: #d6e6f2;
  padding: 30px;
  margin: 30px 30px;
  max-width: 700px;
  border: 1px solid #305973;
  border-radius: 8px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
}
.units-maximum {
  opacity: 0.6;
}
